h1{
    border: 4px solid red;
    background-color: blue;
    height: 100px;
    width: 300px;
    padding: 30px;
    margin: 50px;
    text-align: center;
}
div{
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 2px solid red;
    padding: 5px;

}
#static #middle{
    position: static;
}
#relative #middle{
    position: relative;
}
#absolute #middle{
    position: absolute;
}
#absolute{
    border: 2px solid red;
}
#body{
    border: 3px solid blue;
}